<style>

    #project-title {
      color: red;
      text-align: center;
      font-size: large;
    }

    h1 {
      color: red;
      font-style: oblique;
      text-align: center;
    }

    #project-descriptor {
      color: blue;
      font-style: italic;
      font-size: large;
    }

    .site-nav {
      color: blue;
      border-style: solid;
      background-color: lightgrey;
      border-width: 2px;
      border-color: black;
      text-align: center;
    }

    .site-p {
      color: blue;
      text-align: center;

    }

    .html-project {
      background-color: lightgrey;
      border-style: solid;
      border-width: 3px;
      border-color: black;
      text-align: center;

    }

    .r-projects {
      background-color: rgb(180, 180, 180);
      text-align: center;
      border-style: solid;
      border-width: medium;
      border-color: black;
    }

    .footer-area {
      text-align: right;
    }

    #project-descriptor {
      color: green;
      text-align: center;
    }

    .fa-atom {
      color: red;
      text-align: center;
      width: 100%;
    }




</style>
